/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My CSS*/
body{
  /* background-color: pink; */
	margin: 0px;
	min-height: 100%;
	width: 100%;

	background-image: url("../img/wrinkled-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-image:*/
}

header{
font-family: 'Shadows Into Light', cursive;
	font-size: 400%;
	text-align: center;
  margin-bottom: 20%;
	margin-bottom: 3%;
	margin-top: 5%;
  opacity:.8;
}
/*
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Cookie', cursive;
*/

.paragraphs{
	margin-left: 20%;
	font-size: 130%;
	margin-right: 20%;
	padding: 5%;
	line-height: 30px;
  font-family: 'Shadows Into Light', cursive;
  opacity: .8;

}
.signature{
  margin-left: 40%;
  padding-top: 3%;
}
/* .p2{
  line height: 35px;
  margin-left: 10.005%;
}
.p3{
  margin-left: 10.002%;
} */

ul{
	/*text-align: center;*/
    list-style-type: none;
    margin-top:0;
    padding: 0;
		padding-bottom: 3%;
    /* overflow: hidden; */

}

li{
	float: left;
}
li a{
	display: block;
	font-size: 115%;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	color: black;
	opacity: .8;
}
li a:hover{
	cursor: pointer;
	opacity: 1;
}
